<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ULogin</servlet-name>
        <servlet-class>com.Servlet.ULogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URegister</servlet-name>
        <servlet-class>com.Servlet.URegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccCreation</servlet-name>
        <servlet-class>com.Servlet.AccCreation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UStatus</servlet-name>
        <servlet-class>com.Servlet.UStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDetail</servlet-name>
        <servlet-class>com.Servlet.viewDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jointAccount</servlet-name>
        <servlet-class>com.Servlet.jointAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>com.Servlet.Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jointAccount1</servlet-name>
        <servlet-class>com.Servlet.jointAccount1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithDraw</servlet-name>
        <servlet-class>com.Servlet.WithDraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jointAccount2</servlet-name>
        <servlet-class>com.Servlet.jointAccount2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCardApply</servlet-name>
        <servlet-class>com.Servlet.CCardApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCardApply1</servlet-name>
        <servlet-class>com.Servlet.CCardApply1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DCardApply</servlet-name>
        <servlet-class>com.Servlet.DCardApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DCardApply1</servlet-name>
        <servlet-class>com.Servlet.DCardApply1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLoanApply</servlet-name>
        <servlet-class>com.Servlet.HomeLoanApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HLoanApply1</servlet-name>
        <servlet-class>com.Servlet.HLoanApply1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoanApply</servlet-name>
        <servlet-class>com.Servlet.StudentLoanApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLoanApply1</servlet-name>
        <servlet-class>com.Servlet.SLoanApply1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarLoanApply</servlet-name>
        <servlet-class>com.Servlet.CarLoanApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarLoanApply1</servlet-name>
        <servlet-class>com.Servlet.CarLoanApply1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UStatus1</servlet-name>
        <servlet-class>com.Servlet.UStatus1</servlet-class>
    </servlet>

	<servlet>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>./Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ULogin</servlet-name>
        <url-pattern>/ULogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URegister</servlet-name>
        <url-pattern>/URegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccCreation</servlet-name>
        <url-pattern>/AccCreation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDetail</servlet-name>
        <url-pattern>/viewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jointAccount</servlet-name>
        <url-pattern>/jointAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jointAccount1</servlet-name>
        <url-pattern>/jointAccount1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithDraw</servlet-name>
        <url-pattern>/WithDraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jointAccount2</servlet-name>
        <url-pattern>/jointAccount2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCardApply</servlet-name>
        <url-pattern>/CCardApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCardApply1</servlet-name>
        <url-pattern>/CCardApply1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UStatus</servlet-name>
        <url-pattern>/UStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DCardApply</servlet-name>
        <url-pattern>/DCardApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DCardApply1</servlet-name>
        <url-pattern>/DCardApply1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLoanApply</servlet-name>
        <url-pattern>/HomeLoanApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HLoanApply1</servlet-name>
        <url-pattern>/HLoanApply1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoanApply</servlet-name>
        <url-pattern>/StudentLoanApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLoanApply1</servlet-name>
        <url-pattern>/SLoanApply1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarLoanApply</servlet-name>
        <url-pattern>/CarLoanApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarLoanApply1</servlet-name>
        <url-pattern>/CarLoanApply1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UStatus1</servlet-name>
        <url-pattern>/UStatus1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
